<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      <%= t "mailer.hi" %>, <%= @admin.email %></br>
      <%= t "mailer.sys_received_noti" %> <%= @current_user.email %>!
    </h2>
    <p><%= t "mailer.go_to_check" %></p>
  </body>
</html>
