<tr class=" <%= (order_counter + 1).even? ? "success": "danger" %>">
  <td class="course-name">
    <%= order.status %>
  </td>
  <td>
    <%= order.email if order.email != nil %>
  </td>
  <td><%= order.total_pay %></td>
  <td>
    <%= link_to [:admin, order], class: "btn btn-info btn-xs" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
      <%= t "ordes.detail" %>
    <% end %>
  </td>
</tr>
