<tr class=" <%= (category_counter + 1).even? ? "success": "danger" %>">
  <td class="course-name">
    <%= category.name %>
  </td>
  <td>
    <%= link_to [:edit, :admin, category],
      class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-edit"></span>
        <%= t "categories.edit" %>
    <% end %>
    <%= link_to admin_category_path(category), method: :delete,
      class: "btn btn-danger btn-xs", data: {confirm:
      t("categories.ok_delete")} do %>
      <span class="glyphicon glyphicon-remove"></span>
        <%= t "categories.delete" %>
    <% end %>
  </td>
</tr>
