<tr class=" <%= (product_counter + 1).even? ? "success": "danger" %>">
  <td class="course-name">
    <%= product.name %>
  </td>
  <td class="course-description">
    <%= image_tag product.image.thumb.url, class: "img-circle image_small" %>
  </td>
  <td class="col-actions text-right btn-group">
    <%= link_to [:admin, product], class: "btn btn-info btn-xs" do %>
      <span class="glyphicon glyphicon-eye-open"></span>
        <%= t "products.detail" %>
    <% end %>
    <%= link_to [:edit, :admin, product],
      class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-edit"></span>
        <%= t "products.edit" %>
    <% end %>
    <%= link_to admin_product_path(product), method: :delete,
      class: "btn btn-danger btn-xs", data: {confirm:
      t("products.ok_delete")} do %>
      <span class="glyphicon glyphicon-remove"></span>
        <%= t "products.delete" %>
    <% end %>
  </td>
</tr>
