<div class="row field">
  <div class="col-md-3">
    <%= f.attribute_fields do |attribute_fields| %>
      <%= attribute_fields.attribute_select associations: [:category] %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= f.predicate_select %>
  </div>
  <div class="col-md-3">
    <%= f.value_fields do |value_fields| %>
      <%= value_fields.text_field :value %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to t("remove"), "#", class: "remove_fields" %>
  </div>
</div>
