<h3 class="text-center"><%= t "order.products_for_sale" %></h3>
<div class="row">
  <div class="col-xs-4 col-xs-offset-8">
    <div class="text-right">
      <h4 class="order-text">
        <%= render "layouts/order_text" %>
      </h4>
    </div>
  </div>
</div>

<% @products.each do |product| %>
  <%= render "product_row", product: product, line_item: @line_item %>
<% end %>
<div class="row">
  <%= search_form_for @search, url: search_products_path,
    method: :post do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
    <% end %>
    <%= link_to_add_fields t("searchs.add_conditions"), f, :condition %>
    <div class="row field">
      <%= f.sort_fields do |s| %>
        <div class="col-md-3">
          <%= s.sort_select %>
        </div>
      <% end %>
    </div>
    <div class="actions col-md-3 col-md-offset-3">
      <%= f.submit t("searchs.search"), class: "btn-success" %>
    </div>
  <% end %>
</div>
