<% provide :title, t("products.show") %>
<div class="list-group-item">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @product.image.thumb.url, class: "img-rounded" %>
    </div>
    <div class="col-md-3">
    <span class="badge product_show"> <%= t "products.price" %>:
      <%= @product.price %>
    </span><br>
    <span class="label label-success product_show">
      <%= t "products.name" %>:<%= @product.name %>
  </span><br>
      <p><%= @product.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      <%= link_to t("static_pages.home"), root_path %>
    </div>
    <div class="col-md-1">
      <%= social_share_button_tag(@product.name) %>
    </div>
    <div class="col-md-3">
      <%= rating_for @product, "name", star: 5, disable_after_rate: false,
        enable_half: true %>
    </div>
    <div class="col md-1">
      <span class="label label-info"> <%= t "rate.avg" %>:
        <%= (@product.average("name").avg.round 3)if
          @product.average("name") != nil %>
      </span>
    </div>
  </div>
</div>

<div class="row text-center">
  <table class="table table-hover table-bordered text-center">
    <%= render @comments %>
  </table>
  <%= paginate @comments %>
  <% unless current_user == nil %>
    <%= render "comments/form" %>
  <% end %>
</div>
