<% provide :title, t("products.show") %>
<div class="list-group-item">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @product.image.thumb.url, class: "img-rounded" %>
    </div>
    <div class="col-md-3">
    <span class="badge product_show"> <%= t "products.price" %>:
      <%= @product.price %>
    </span><br>
    <span class="label label-success product_show">
      <%= t "products.name" %>:<%= @product.name %>
  </span><br>
      <p><%= @product.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <%= link_to t("static_pages.home"), root_path %>
    </div>
  </div>
</div>

<div class="row text-center">
  <table class="table table-hover table-bordered text-center">
    <%= render @comments %>
  </table>
  <%= will_paginate @comments %>
  <% unless current_user == nil %>
    <%= render "comments/form" %>
  <% end %>
</div>
